body {
  margin: 0;
  padding: 0;
  padding-bottom: 65px;

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/index-base-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/content-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-shop {
  font-size: 14px;
  line-height: 18px;
}

/* ------ РАЗМЕТКА СЕТКИ ----------- */

/* ВСПОМОГАТЕЛЬНЫЕ ФОНЫ */

.layout-positioner {
  outline: 1px solid yellow;
}
/* -------- ОСН РАЗМЕТКА СЕТКИ -------- */

.layout-positioner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.inner-page .page-header {
  flex-direction: column;
  justify-content: flex-start;
}

.layout-logo {
  display: flex;
  justify-content: center;
}

.inner-logo {
  margin-left: 20px;
  margin-right: 20px;
}

.main-nav {
  margin-bottom: 60px;
}

.main-nav .layout-positioner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.main-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.inner-page .main-menu-list {
  margin-right: auto;
}

.user-menu-list {
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.advantages-item {
  width: 300px;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 35px;
  padding: 50px 80px;
}

.content-section:not(:last-child) {
  margin-right: 20px;
}

.content-section {
  width: 380px;
}

.content-section:last-child {
  width: 300px;
  padding-left: 80px;
}

.content-section p {
  margin: 0;
  padding: 0;
}

.news-item {
  margin-bottom: 20px;
}

.content-section-news .button {
  margin-top: 10px;
}

.photogallery-content {
  height: 164px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.content-section .button + .button {
  margin-left: 15px;
}

.content-contacts p {
  margin-bottom: 20px;
}

.check-in-form {
  margin: 0;
  padding: 0;
}

.check-in-wrapper {
  display: inline-block;
}

.check-in-wrapper:nth-child(2n+1) {
  margin-right: 15px;
}

.check-in-wrapper label {
  display: block;
  padding-left: 15px;
}

.page-footer .layout-positioner {
  display: flex;
  justify-content: space-between;
}

.modal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.modal-login {
  width: 460px;
}

.modal-map {
  width: 780px;
  flex-basis: 577px;
}
/* -------------- ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ ------------ */

a {
  text-decoration: underline;
}

.button {
  display: inline-block;
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.main-menu-list,
.user-menu-list {
  list-style: none;
}

.main-menu-item,
.user-menu-item {
  height: 45px;
  padding: 0 20px;
  padding-top: 25px;

  text-align: center;
}

.user-menu-login {
  padding-left: 50px;
}

.main-menu-list a,
.user-menu-list a {
  color: #ffffff;
  text-decoration: none;

  background-color: #000000;
}

.user-menu-login {
  position: relative;
}

.user-menu-login:hover::before,
.user-menu-login:focus::before,
.user-menu-login:active::before {
  background-color: #242424;
  opacity: 1;
}

.user-menu-login::before {
  position: absolute;
  top: 28px;
  left: 20px;

  display: block;
  width: 14px;
  height: 14px;

  background-color: #000000;
  background-image: url("../img/login-14x14.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;

  content: "";
}

.main-menu-item:hover,
.main-menu-item:focus,
.main-menu-item:active,
.main-menu-item:hover a,
.main-menu-item:focus a,
.main-menu-item:active a,
.user-menu-item:hover,
.user-menu-item:focus,
.user-menu-item:active,
.user-menu-item:hover a,
.user-menu-item:focus a,
.user-menu-item:active a {
  background-color: #242424;
}

.main-menu-current a {
  box-shadow:
    0 22px 0 0 #000000,
    0 28px 0 0 #ffffff;
}

.main-menu-current:hover a,
.main-menu-current:focus a,
.main-menu-current:active a {
  box-shadow:
    0 22px 0 0 #242424,
    0 28px 0 0 #ffffff;
}

.inner-page h1 {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;

  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;

  background-color: #f8f5f2;
}

.breadcrumbs-current a {
  color: #aba9a7;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  text-align: center;
}

.advantages-item h3 {
  position: relative;

  padding-bottom: 30px;

  font-size: 30px;
  line-height: 42px;
}

.advantages-item h3::after {
  position: absolute;
  bottom: 0;
  left: 140px;

  width: 22px;
  height: 22px;

  background-color: #ffffff;
  transform: rotate(45deg);

  content: "";
}

.content-wrapper {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/content-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.content-wrapper h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.photogallery-content {
  background-color: #cccccc;
  border: 8px solid #ffffff;
}

.check-in input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.check-in input:focus {
  border-color: #663d15;
  outline: none;
}

.product-filters fieldset {
  border: none;
}

.product-filters legend {
  font-size: 24px;
  line-height: 30px;
}

.product-filters input:hover + label,
.product-filters input:focus + label {
  color: #663d15;
}

.product-filters
 input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.product-photo-big,
.product-photo-preview li {
  background-color: #cccccc;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.product-photo-big:hover,
.product-photo-preview li:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.product-photo-preview {
  list-style: none;
}

.product-availability-yes {
  color: #000000;

  background-color: #f8f5f2;
}

.product-article {
  color: #aeaeae;

  background-color: #f8f5f2;
}

.product-price b {
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #e5e5e5;
}

.product-price .button {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: #000000;
}

.product-price .button:hover,
.product-price .button:focus,
.product-price .button:active {
  color: #ffffff;

  background-color: #663d15;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.components-list {
  list-style: none;
}

.variety-list {
  list-style: none;
}

.variety-item {
  color: #000000;

  background-color: #f7f7f7;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.variety-item:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.variety-item-header span:first-child {
  text-transform: none;
}

.variety-item-header a {
  color: #000000;
  text-decoration: none;

  background-color: #f7f7f7;
}

.variety-item-price {
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #e5e5e5;
}

.variety-item .button {
  color: #ffffff;

  background-color: #000000;
}

.about-info h2 {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.about-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.price-list {
  color: #000000;

  background-color: #f9f6f3;

  border-collapse: collapse;
}

.price-list td {
  border: 2px solid #000000;
}

.remedies-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
  text-decoration: none;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #ffffff;

  background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.page-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/footer-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-footer-contacts a {
  color: #ffffff;

  background-color: #212121;
}

.page-footer-contacts a:hover,
.page-footer-contacts a:focus,
.page-footer-contacts a:active {
  text-decoration: none;
}

.page-footer-social {
  text-align: center;
}

.social-list {
  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #212121;
}

.page-footer-develop {
  text-align: center;
}

.page-footer-develop .button:hover,
.page-footer-develop .button:focus,
.page-footer-develop .button:active {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/content-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input[type="text"]:hover,
.login-form input[type="text"]:focus,
.login-form input[type="text"]:active {
  border-color: #663d15;
  outline: none;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.recovery {
  color: #000000;
  text-decoration: underline;
}

.recovery:hover,
.recovery:focus,
.recovery:active {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
