body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/index-base-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.main-menu-list,
.user-menu-list {
  list-style: none;
}

.main-menu-list a,
.user-menu-list a {
  color: #ffffff;

  background-color: #000000;
}

.main-menu-list a:hover,
.main-menu-list a:focus,
.main-menu-list a:active,
.user-menu-list a:hover,
.user-menu-list a:focus,
.user-menu-list a:active {
  background-color: #242424;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
