body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/index-base-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/content-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-shop {
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: underline;
}

.button {
  font: inherit;

  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.main-menu-list,
.user-menu-list {
  list-style: none;
}

.main-menu-list a,
.user-menu-list a {
  color: #ffffff;
  text-decoration: none;

  background-color: #000000;
}

.main-menu-list a:hover,
.main-menu-list a:focus,
.main-menu-list a:active,
.user-menu-list a:hover,
.user-menu-list a:focus,
.user-menu-list a:active {
  background-color: #242424;
}

.inner-page h1 {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;

  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;

  background-color: #f8f5f2;
}

.breadcrumbs-current a {
  color: #aba9a7;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  text-align: center;
}

.advantages-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.content-wrapper {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/content-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.content-wrapper h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-item time {
  text-transform: none;
}

.photogallery-content {
  background-color: #cccccc;
  border: 8px solid #ffffff;
}

.check-in input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.check-in input:focus {
  border-color: #663d15;
  outline: none;
}

.product-filters fieldset {
  border: none;
}

.product-filters legend {
  font-size: 24px;
  line-height: 30px;
}

.product-filters input:hover + label,
.product-filters input:focus + label {
  color: #663d15;
}

.product-filters
 input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.product-photo-big,
.product-photo-preview li {
  background-color: #cccccc;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.product-photo-big:hover,
.product-photo-preview li:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.product-photo-preview {
  list-style: none;
}

.product-availability-yes {
  color: #000000;

  background-color: #f8f5f2;
}

.product-article {
  color: #aeaeae;

  background-color: #f8f5f2;
}

.product-price b {
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #e5e5e5;
}

.product-price .button {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  background-color: #000000;
}

.product-price .button:hover,
.product-price .button:focus,
.product-price .button:active {
  color: #ffffff;

  background-color: #663d15;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.components-list {
  list-style: none;
}

.variety-list {
  list-style: none;
}

.variety-item {
  color: #000000;

  background-color: #f7f7f7;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.variety-item:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.variety-item-header span:first-child {
  text-transform: none;
}

.variety-item-header a {
  color: #000000;
  text-decoration: none;

  background-color: #f7f7f7;
}

.variety-item-price {
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #e5e5e5;
}

.variety-item .button {
  color: #ffffff;

  background-color: #000000;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #ffffff;

  background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.page-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/footer-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-footer-contacts a {
  color: #ffffff;

  background-color: #212121;
}

.page-footer-contacts a:hover,
.page-footer-contacts a:focus,
.page-footer-contacts a:active {
  text-decoration: none;
}

.page-footer-social {
  text-align: center;
}

.social-list {
  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #212121;
}

.page-footer-develop {
  text-align: center;
}

.page-footer-develop .button:hover,
.page-footer-develop .button:focus,
.page-footer-develop .button:active {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/content-bg-20x20.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input[type="text"]:hover,
.login-form input[type="text"]:focus,
.login-form input[type="text"]:active {
  border-color: #663d15;
  outline: none;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.recovery {
  color: #000000;
  text-decoration: underline;
}

.recovery:hover,
.recovery:focus,
.recovery:active {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
